* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 16px;
    background: #cde6ff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    width: 568px;
    height: 320px;
    padding: 20px;
    background: #fff;
    position: relative;
    display: flex;
}
.progres-wrapper {
    height: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
}




.progress {
    width: 100%;
    display: flex;
    justify-content: center;
}

.circle-wrapper {
    width: 150px;
}

.progress[data-state="hide"] {
    display: none;
}
.panel {
    width: 100%;
    display: flex;
    justify-content: center;
}
.panel-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.circle-svg {
    transform: rotate(-90deg);
}

.circle-back, .circle-main {
    fill: none;
    stroke-width: 10;
}

.circle-back {
    stroke: #cde6ff;
}

.circle-main {
    stroke: #005CFF;

}

.progress[data-state="animate"] .circle-svg {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(270deg);
    }
}



.form-action {
    display: flex;
    align-items: center;
    gap: 10px;
}


.form-input {
    border: none;
    outline: none;
    height: 25px;
    width: 40px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 100px;
}


.form-toggle {
    position: relative;
}

.toggle-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.toggle-ui {
    width: 40px;
    height: 25px;
    border-radius: 100px;
    background: #cde6ff;
    position: relative;
    display: inline-block;
}

.toggle-thumb {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #fff;
    transition: transform 0.2s ease;
}

.toggle-input:checked + .toggle-ui {
    background: #005CFF;
}

.toggle-input:checked + .toggle-ui .toggle-thumb {
    transform: translateX(15px);
}

@media (max-width: 568px) {
    .wrapper {
        width: 100%;
        height: 568px;
    }
    .progres-wrapper {
        height: auto;
        flex-direction: column;
        gap: 100px;
    }  

}
